/.deps/
Makefile
Makefile.in
aclocal.m4
/autom4te.cache/
autoscan.log
compile
config.h
config.h.in
config.h.in~
config.log
config.status
configure
configure.scan
depcomp
install-sh
missing
pi
pi.o
/src/
stamp-h1
.configure.ac.swp
.configure.swp

